.integrationDiv{
    margin-top: 2rem;
    .integrationHeading{
        font-size: 1.3rem;
        font-weight: 600;
    }
    .integrationList{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        .integrationName{
            font-size: 1rem;
            font-weight: normal;
        }
        .integrationItem{
            border: 1px solid var(--foreground-color);
            display:flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.3rem;
            max-width: 20rem;
            padding: 1rem;
            min-height: 200px;
            p{
                padding: 0 10px;
                margin-bottom: 20px;
                text-overflow: ellipsis;
            }
            // max-width: 1in;
            .integrationIcons{
                display: flex;
                width : 100%;
                gap: 10px;
                padding: 10px;
                span{
                    color: white;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 1rem;
                }
            }
            margin-bottom: 0;
        }
        // .integrationLink{
        //     border: 1px solid black;
        //     background-color: var(--foreground-color);
        //     color: var(--background-color);
        //     font-weight: 500;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     width: 180px;
        //     height: 46px;
        //     font-size: 1.2rem;
        //     cursor: pointer;
        //     margin-top: auto;
        //     text-decoration: none;
        //     transition-duration: 0.2s;
        //     text-transform: uppercase;
        //     gap: 10px;
        //     &:hover{
        //         background-color: var(--background-color);
        //         color: var(--foreground-color);
        //         gap: 20px;
        //     }
        // }
        .integrationLink{
            text-decoration: none;
            color: inherit;
            transition-duration: 300ms;
            background-color: white;
            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
    .moreIntegration{
        border: 1px solid black;
        border-top: none;
        width: fit-content;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 15px;
        &:hover {
            text-decoration: underline;
        }
    }
}
