.urlsDiv {
    align-self: flex-start;
    color: black;
    
    .message{
        word-wrap: break-word;
        padding: 8px 12px;
        border-radius: 8px;
        margin-bottom: 16px;
        max-width: 80%;    
        background-color: #e1e1e1;
    }
    .urlsItem{
        margin-top: 8px;
        color: var(--blue);
        cursor: pointer;
        text-decoration: underline;
    }
}