.container{
    background-color: var(--background-color);
}
.containerOpen{
    width: 70%;
    position: absolute; 
    right: 0;
}
.chatPagediv{
    display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    // align-content: center;
    // width: 99vw;
    // height: 98vh;
  }