.container{
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-bottom: 7rem;
}
.containerOpen{
  animation: shrink 0.2s ease-out;
  width: 70%;
  margin-left: auto;
}
.publishButton{
  text-wrap: nowrap;
  width: 12rem;
  height : 3rem;
  border-radius : 5px;
  cursor: pointer;
  border: 1px solid #111;
  font-size: 1rem;
  border: 2px solid var(--foreground-color);
  text-transform: uppercase;
  transition-duration: 0.2s;
  font-weight: 800;
  color: var(--foreground-color);
  background-color: var(--background-color);
  margin: 0 4rem 4rem 4rem;
  &:hover{
    background-color: var(--foreground-color);
    color: var(--background-color);
  }
}
.relatedBlogsDiv{
  padding: 0 16px;
  font-family: var(--sans-serif-font);
  width: 90%;
  max-width: 60rem;
  & > h3{
      padding-bottom: 10px;
      font-weight: 100;
      font-size: 1.3rem;
      color: #999;
  }
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 70%;
  }
}