.container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 4rem;
  // background-color: white;
}
.containerOpen{
  animation: shrink 0.2s ease-out;
  width: 70%;
  margin-left: auto;
}
.publishButton{
  text-wrap: nowrap;
  width: 12rem;
  height : 3rem;
  border-radius : 5px;
  cursor: pointer;
  border: 1px solid #111;
  font-size: 1rem;
  border: 2px solid var(--foreground-color);
  text-transform: uppercase;
  transition-duration: 0.2s;
  font-weight: 800;
  color: var(--foreground-color);
  background-color: var(--background-color);
  margin: 0 4rem 4rem 4rem;
  &:hover{
    background-color: var(--foreground-color);
    color: var(--background-color);
  }
}
.relatedBlogsDiv{
  padding: 4rem 0;
  font-family: var(--sans-serif-font);
  width: 100%;
  margin-left: 1rem;
  max-width: var(--outer-blog-width);
  position: relative;
  z-index: 2;
  &::before{
    content: "";
    height: 100%;
    width: 200vw;
    position: absolute;
    top: 0;
    left: -30vw;
    z-index: -1 !important;
    background: url('../../../static/images/background.svg');
    border-bottom: 1px solid var(--dark-grey);
  }
  & > h3{
      padding-bottom: 1rem;
      font-family: var(--title-font);
      font-weight: 100;
      font-size: 2rem;
  }
  .blogOnSearch{
    margin-top: 1rem;
    font-family: var(--title-font);
    color: var(--dark-grey);
    display: flex;
    align-items: center;
    &:hover{
      color: black;
      .arrowIcon{
        margin-left: 0.5rem;
      }
    }
  }
}

.searchDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
  color: white;
  z-index: 2;
  position: relative;
  &::after{
    content:"";
    position: absolute;
    top: 0;
    width: 400%;
    height: 100%;
    background-color: #a81f0d;
    z-index: -1 !important;
    left: -50vw;
  }
  h1{
    font-family: var(--title-font);
    font-size: 4rem;
    z-index: 1;
  }
  p{
    font-size: 1.2rem;
    max-width: 40rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1rem;
  }
  .searchBox{
    position: static;
    transform: none;
    &>*{
      box-shadow: none;
    }
    max-width: 55rem;
  }
  .diamondImageSmall{
    position: absolute;
    bottom: 0rem;
    left: -10rem;
    width: 18rem;
    height: 18rem;
  }
  .diamondImageLarge{
    position: absolute;
    right: -10rem;
    top: 0rem;
    z-index: 0;
  }
}

.tagsContainer {
  margin: 20px 1rem;
  h3{
    font-weight: 100;
    font-family: var(--title-font);
    font-size: 2rem;
  }
  .tagsDiv{
    display: flex;
  }
  .tag {
    display: inline-block;
    border: 1px solid black;
    padding: 15px 20px;
    // margin: 10px 5px;
    font-size: 1.1rem;
    cursor: pointer;
    &:hover {
      // background-color: #f9c6c6;
      background-color: black;
      color: white;
    }
  }
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 70%;
  }
}