.requestAppButton {
  min-height: 58px;
  border: 1px dashed #dee2e6;
  background-color: white;
  color: gray;
  transition:
    border-color 0.15s ease,
    box-shadow 0.15s ease,
    background-color 0.15s ease;

  &:hover {
    border-color: #a8200d !important;
    box-shadow: 4px 4px 0 0 #a8200d;
    background-color: #ffe6e6 !important;
  }
}

.plusIcon {
  width: 40px;
  height: 40px;
  color: #a8200d;
}
