.titleContainer{
    position: relative;
    .titleDiv{
        position: relative;
        width: 100%;
        margin: 2rem 3rem 10rem 1rem;
        padding: 2rem;
        z-index:3;
        h3{
            font-weight: 400;
            margin-bottom: 20px;
        }
        & > *{
            position: relative;
        }
        &:after{
            content:"";
            position: absolute;
            bottom: -10rem;
            left: -200%;
            width: 500%;
            height: 300%;
            z-index: -1;
        }
        .title{
            color: var(--foreground-color);
            z-index: 9;
            position: relative;
            margin-bottom: 2rem;
        }
        h3{
            font-family:var(--title-font);
        }
    }
    &:before{
        bottom: -7rem;
        left: -20vw;
        width: 120vw;
        border-bottom: 1px solid black;
        height: 150vh;
        content: "";
        position: absolute;
        background-image: url('../../static/images/blog-background.svg');
        background-position: top;
        background-size: cover;
        z-index: 1;
    }
}

.detailedReviews{
    min-width: 100%;
    .listItem{
        display: block;
        padding: 3rem 0;
        position: relative;
        &::before, &::after{
            content: "";
            position: absolute;
            background-color: black;
            left: -50vw;
            width: 300vw;
        }
        &::before{
            top: 0;
        }
        &::after{
            height: 1px;
            bottom: 0;
        }
        &:first-of-type::before{
            height: 1px;
        }
    }
    .howWeAssess{
        max-width: var(--blog-width);
        margin: 1rem 0 2rem;
        p{
            text-decoration: underline;
            text-decoration-style: dotted;
            font-size: 1rem;
        }
        border-radius: 5px;
        a{
            color: var(--blue);
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .appHeadingDiv{
        display: flex;
        gap: 1rem;
        align-items: center;
        max-width: var(--blog-width);
    }
    h5{
        font-size: 2rem !important;
        font-family: var(--title-font);
        font-weight: 600 !important;
        margin-bottom: 0;
    }
    h4, h5{
        max-width: var(--blog-width);
    }
    h6{
        font-size: 1.2rem;
    }
    .content{
        max-width: var(--blog-width);
        margin-top: 0.5rem;
        h1, h2, h3, h4, h5, h6{
            font-family: var(--para-font);
            font-weight: 300 !important;
            margin: 20px 0 10px 0;
        }
    }
    .relatedBlogsDiv{
        display: flex;
        flex-direction: column;
        max-width: var(--blog-width);
        margin-top: 2rem;
    }
    .relatedBlogsLink{
        color: #0070f3;
    }
    .relatedBlogsLink:hover {
        text-decoration: underline;
    }
    .appDomain:hover{
        text-decoration: underline;
    }
}

.additionalSection{
    margin-bottom: 2rem;
    width: var(--outer-blog-width);
    &:has(table){
        border: 1px solid black;
        max-width: max-content;
        transform: translateX(-7vw);
        padding: 2rem 0 0;
        align-self: baseline;
        h4, p{
            padding: 0 2rem;
        }
    }
}

.summaryList, .detailedReviews, .additionalSection{
    max-width: var(--blog-width);
    margin-bottom: 3rem;
    font-size: 1.2rem;   
    h4{
        font-family: var(--title-font);
        font-size: 2.2rem;
        font-weight: 500;
    }
}

.summaryList {
    margin-top: -7rem;
    z-index: 10;
    top: 1rem;
    max-width: 35rem;
    width: fit-content;
    display: flex;
    align-items: center;
    position: sticky;
    h5{
        font-weight: 500;
        font-size: 1.8rem;
    }
    .list{
        .appIcon{
            width: 2.5rem;
            height: auto;
        }
        display: flex;
        padding-top: 0;
        flex-direction: column;
        width: 100%;
        .appLink{
            &:not(:first-of-type){
                .listItem{
                    border-top: none;
                }
            }
            .listItem{
                z-index: 15;
                padding: 15px 30px;
                border: 1px solid black;
                background-color: white;
                display:flex;
                flex-direction: row;
                gap: 1.4rem;
                .arrowIcon{
                    transition: transform 0.3s ease;
                    transition-duration: 0.1s;
                    display:none;
                }
                .content{
                    width: 100%;
                    .description{
                        display: -webkit-box;
                        display: none;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;       
                    }
                }
                &:hover{
                    .arrowIcon{
                        transform: translateY(-10px);
                    }
                }
            }
        }
    } 
}

.dummyMarkdown {
    & *{
        margin: 2rem 0;
    }
    padding: 20px;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 700px) {
.summaryList {
    .list {
        .appLink {
            .listItem {
                padding:10px;
                align-items: normal;
                text-align: justify;
                .appIcon {
                    width: 2.5rem; 
                    height: 2.5rem;
                    margin-bottom: 1rem; 
                }
                .content {
                    width: 100%;
                    h5{
                        font-size: 1.4rem;
                    }
                }
            }
        }
        p{
            width: inherit ;
            font-size: 1rem;      
        }
    }
}
.title{
    font-size: 40px;
}
}