.cardsGrid {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
  margin-top: 16px;
}


.Homesection {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  .noData{
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

.homeh2 {
  margin-top: 3rem;
  font-size: 2.5rem;
  color: #444;
  font-family: var(--title-font);
  font-weight: 100;
  width: 10.5in;
}

.blogsWithChatbot{
  width: 70% !important;
  margin-left: auto;
}