.container {
    padding: 16px;
    font-family: var(--sans-serif-font);
    max-width: 60rem;
    margin: auto;
  }

  
  .author {
    display: flex;
    gap: 10px;
    margin-bottom: 7px;
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    background-color:#d0000e;
    color: #fff; 
    font-size: 35px;
  }
  
  .name {
    font-size: 32px;
    font-weight: 600;
    font-family: var(--title-font);
    margin-bottom: 0;
  }
  .name::first-letter {
    text-transform: uppercase; 
  }
  
  .details {
    margin-top: 20px;
    text-align: left; 
  }
  
  
.Homesection {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.homeh2 {
  margin-top: .7rem;
  font-family: var(--title-font);
  font-size: 24px;
  font-weight: 700;
  padding-left: 18px;
  margin-bottom:0;
}

.cardsGrid {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 16px;
  width: 100%;
}


.userContainer{
 margin:20px;
 font-size: 16px;

}
.userContainer p{
    max-width: 700px;
}
.iconStyle {
  color: rgb(0, 0, 0); 
  border: 1px solid black;
  background-color: white;
  width: 40px !important;
  height: 40px !important;
  gap:10px;
}

@media (max-width: 768px) {
  .container{
    padding:0;
  }
  .name {
    font-size: 20px;
    align-self: center;
  }
  .cardsGrid{
    gap:10px;
  }
}