.chatbotContainer {
  width: 30vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #f8f8f8;
  background-color: var(--background-color);
  border-right: 1px solid #a59c9c;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #8a8080;
  margin-right: 10px;
  z-index: 10;
  min-width: 30rem;
  max-width: 50rem;
  flex: 1;
  animation: slideRight  0.4s ease-out;
  .chatbotHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom : 1px solid var(--grey);
    .title{
      font-size: 1.5rem;
      font-weight: 700;
    }
    .closeButton{
      outline: none;
      font-size: 1.2rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.chatWindow {
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 90%;
}

.sentMessage, .receivedMessage{
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 16px;
  width: fit-content;
  word-wrap: break-word;
  max-width: 80%;
}

.sentMessage {
  align-self: flex-end;
  background-color: #242331;
  color: white;
}

.receivedMessage {
  align-self: flex-start;
  background-color: #d1d1d1;
  color: black;
}

.inputContainer {
  padding: 10px;
  display: flex;
  border-top: 1px solid #ddd;
  width: 100%;
  background-color: white;
}

.messageInput {
  flex: 1;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid #ddd;
  font-size: 1.1rem;
}

.sendButton {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #0056b3;
}

.thinkingMessage {
  text-align: center;
  color: #888;
  padding: 10px;
  font-style: italic;
}

.revertButton{
  display: block;
  margin: auto;
  font-size: 1.4rem;
  padding: 0 10px;
  color: #888;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.homePage{
  height: 100%;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 11in;
  max-width: 11in;
  background-color: var(--background-color);
  border: none;
  padding: 0 1rem 3rem 1rem;
  box-shadow : none;
  animation: slideUp 0.4s ease-out;
  .closeButton{
    display: none;
  }
  & .inputContainer{
    display: none;
  }
  & > *{
    font-size: 1.2rem;
  }
}

.searchResultsDiv{
  & > h3{
    margin-bottom: 1rem;
  }
  .searchResults{
    margin-bottom: 1in;
    overflow: scroll;
    display: flex;
    gap: 1rem;
    .blogOnSearch{
      background-color: whitesmoke;
      border: 1px solid #888;
      box-shadow: none;
      padding: 0 1rem;
      overflow: scroll;
      min-width: 4in;
      max-width: max-content;
      height: 2in;
      .tagsContainer{
        border: 2px solid red;
      }
      &:hover{
        transform:none;
      }
    }
  }
}



.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: lightgray;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}

@keyframes slideUp {
  from {
    top: 100%;
  }
  to {
    top: 2rem;
  }
}

@keyframes slideRight {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}