
.markdownContainer {
  font-family: var(--sans-serif-font);
  max-width: calc(var(--blog-page-width) + 5rem);
  height: 700px;
  position: relative;
  overflow-x: initial;
  height: 90%;
  &>*{
    margin-left: 1rem !important;
  }
  padding-bottom: 0px;
}

.markdownContainer::-webkit-scrollbar {
  width: 2px; 
}

.markdownContainer::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 8px; 
}

.markdownContainer::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 8px; 
}

.markdownContainer::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.containerDiv{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.aiButtonDiv{
  z-index: 8;
  width: 0;
  div{
    border: 1px solid black;
    display: flex;
    position: sticky;
    top: 90vh;
    margin-top: 90vh;
    width: fit-content;
    transform: translateX(-100%);
  }
  button{
    padding: 10px 20px;
    font-family: var(--title-font);
    font-size: 1.3rem;
    border: none;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    text-wrap: nowrap;
    top: 80vh;
  }
  .contribute{
    background-color: black;
    color: white;
  }
  .askMore{
    background-image: url('../../static/images/background.svg');
    background-size: contain;
  }
}
.floaterDiv{
  display: flex;
}
.blogPage{
  width: 100%;
}