.markdownContainer {
  font-family: var(--sans-serif-font);
  max-width: var(--blog-width);
  padding: 2rem 5rem;
  height: 700px;
  overflow: auto;
  overflow-x: initial;
  height: 90%;
  margin: auto;
  // margin-bottom: 5rem; 
  padding-bottom: 0px;
}

.markdownContainer::-webkit-scrollbar {
  width: 2px; 
}

.markdownContainer::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 8px; 
}

.markdownContainer::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 8px; 
}

.markdownContainer::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.tagsContainer {
  margin-top: 20px;
  h3{
    font-weight: 100;
    font-size: 1.3rem;
    color: #999;
  }
}

.tag {
  display: inline-block;
  background-color: var(--grey);
  border-radius: 3px;
  padding: 10px 10px;
  margin: 10px 5px;
  font-size: 1.1rem;
  cursor: pointer;
}
.tag:hover {
  background-color: #f9c6c6;
}