.markdownContainer {
  font-family: var(--sans-serif-font);
  width: calc(100% - 18.5rem);
  max-width: calc(var(--blog-page-width) + 5rem);
}

.aiButtonDiv {
  z-index: 10;
  width: 0;

  button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }
}
.floaterDiv {
  top: 2rem;
  width: 18rem;
  max-height: calc(100vh - 4rem);
}

@media (max-width: 700px) {
  .markdownContainer {
    width: 100%;

    & > * {
      margin-left: 0rem !important;
    }
  }
}
