.card {
  border: 1px solid black;
  border-radius: 2px;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: 0.2s ease, transform 0.2s ease;
  width: 100%;
  margin: auto;
  margin-bottom: 1.2rem;
  // background-color: #e4e0df
  background-color: whitesmoke;
  .tag{
    background-color: transparent;
    border: none;
    padding: 10px 5px;
    &::before{
      content: "#";
    }
  }
}

.card h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
  padding: 10px 0;
}

.card p {
  margin: 0;
  color: #666;
  line-height: 20px;
  padding: 10px 0;
  font-size: 1.1rem;
}
.tagsContainer {
  padding: 10px 0;
  margin-top: 1px;
}

.tag {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  margin: 4px;
  background-color: var(--light-grey);
  border: 1px solid black;
  color: #555;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.tag:hover {
  background-color: #f9c6c6;
}

.containerOpen{
  width: 70%;
}

.appIconsDiv{
  display: flex;
  gap: 0.7rem;
  .appIcon{
    padding: 3px;
    border: 1px solid var(--intermediate-color);
    width: 4rem;
    height: 4rem;
    border-radius: 3px;
  }
}