.card {
  border: 1px solid black;
  border-bottom: none ;
  border-radius: 2px;
  padding: 2rem 2.5rem;
  cursor: pointer;
  transition: 0.2s ease, transform 0.2s ease;
  width: 100%;
  background-color: var(--background-color);
  .tag{
    background-color: transparent;
    border: none;
    &:first-child{
    margin-left: -5px;
  }
  }
  transition: background-color .4s ease, color 0.3s ease, transform 0.3s ease; 
  &:hover {    
      background-color: black;
      color:rgb(228, 228, 228);
      .tag{
        color:rgb(192, 192, 192);
        &:hover{
          background-color:rgb(228, 228, 228);
          color: black;
        }
      }

  }
  &:last-child{
    border-bottom: 1px solid black;
  }
}

.card h3 {
  margin-top: 0;
  font-size: 20px;
  font-family: var(--para-font);
  padding-bottom: 10px;
}

.card p {
  margin: 0;
  color: #666;
  line-height: 20px;
  padding: 10px 0;
  font-size: 1.1rem;
}
.tagsContainer {
  padding-top: 4px;
  margin-top: 1px;
}

.tag {
  display: inline-block;
  font-size: 16px;
  background-color: var(--light-grey);
  border: 1px solid black;
  color: #555;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 0px 10px ;
  &:nth-of-type(n+5){
    display: none;
  }


}

.tag:hover {
  background-color: #f9c6c6;
}

.containerOpen{
  width: 70%;
}

.appIconsDiv{
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  .appIcon{
    padding: 3px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    img{
      object-fit: contain;
    }
  }
}
@media (max-width: 600px) {
  .card{
    padding: 1px 10px ;
    .tag{
      padding : 2px 5px;
    }
  }
}