.card {
  border: 1px solid var(--intermediate-color);
  border-radius: 2px;
  padding: 1rem 1.5rem;
  font-family: serif;
  cursor: pointer;
  transition: 0.2s ease, transform 0.2s ease;
  max-width: 10.5in;
  width: 80vw;
  margin-bottom: 1.2rem;
  // background-color: #e4e0df
  background-color: whitesmoke;
  &:last-child{
    margin-bottom: 4rem;
  }
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.card h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
  padding: 10px 0;
}

.card p {
  margin: 0;
  color: #666;
  line-height: 20px;
  padding: 10px 0;
  font-size: 1.1rem;
}
.tagsContainer {
  padding: 10px 0;
  margin-top: 1px;
}

.tag {
  display: inline-block;
  padding: 6px 6px;
  margin: 4px;
  border-radius: 3px;
  background-color: var(--light-grey);
  color: #555;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 0.9rem;
}

.tag:hover {
  background-color: #f9c6c6;
}

.containerOpen{
  width: 70%;
}

.appIconsDiv{
  display: flex;
  gap: 0.7rem;
  .appIcon{
    padding: 3px;
    border: 1px solid var(--intermediate-color);
    width: 3rem;
    height: 3rem;
    margin: 0.7rem 0;
    border-radius: 3px;
  }
}