@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
  --title-font:  'title-font', Times, serif;
  // --background-color: #f1edec;
  --background-color: whitesmoke;
  // --foreground-color: #452f2d;
  --foreground-color: black;
  --intermediate-color: #452f2d37;
  --grey: #ccc;
  --blue : #007bff;
  --light-grey: #e5e5e5;
  --sans-serif-font: Arial, sans-serif;
  --dark-grey: #6c757d;
  --gradient: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 228, 233, 0.5),
    rgba(252, 200, 226, 0.5),
    rgba(246, 186, 237, 0.5),
    rgba(239, 176, 255, 0.5),
    rgba(211, 162, 255, 0.5),
    rgba(145, 239, 255, 0.5),
    rgba(213, 249, 255, 0.5)
    );
  }
  
  
  html,
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: var(--foreground-color);
  }
  
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  p, a, button{
    font-family: "Outfit", sans-serif;
  }

  #__next{
    height: 100%;
  }