:root {
  --title-font:  'Times New Roman', Times, serif;
  --background-color: #f1edec;
  --foreground-color: #452f2d;
  --intermediate-color: #452f2d37;
  --grey: #ccc;
}


html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--foreground-color);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
