.shareContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    .contributorsContainer {
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 1px solid black;
        padding: 20px;
        .userAVA{
            display: flex;
            align-items: center;
            gap: 5px;
            .avatar{
                background-color: whitesmoke;
                border: 1px solid black;
                color: black;
                width: 40px;
                height: 40px;
            }
        }
    }
    .date{
        font-weight: bold;
    }
}
@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.contributorsText {
    font-weight: bold;
    margin-left: 8px;
}

.popup {
    padding: 10px 20px;
    max-height: 161px;
    overflow: visible;
    z-index: 10;
    animation: popIn 0.5s linear  forwards; 
    font-weight: 600;
}

.popupItem {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.popupItem:last-child {
    margin-bottom: 0;
}

.avatarPopup {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.userName{
    margin-left: 10px;

}


.popup::-webkit-scrollbar {
    width: 3px; 
}

.popup::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 4px;
}

.popup::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); 
}

.popup::-webkit-scrollbar-track {
    background-color: transparent; 
}

.icon{
    transform: scale(2);
    margin:20px 10px;
}
.icon:hover{
    color: blue;
}